.DS_Store
/metamodel/
/build/
/dist/
/target/
/.factorypath
/.apt_generated/
/.settings
/.classpath
/.project
.tern-project
nb-configuration.xml
nbproject/
nbactions.xml
.idea
*.iml
/src/main/webapp/VAADIN/widgetsets/
.vscode
*.p12
thumbs.db
